*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1{
  text-align: center;
  margin: 20px;
}

.header-bottom{
  border-top: solid;
  border-bottom: solid;
}

li {
  list-style: none;
  float: left;
  margin: 20px;
  text-align: center;
}

.main{
  width: 800px;
  margin: 50px;
  display: flex;
  flex-wrap: wrap;
}

.box{
  width: 200px;
  height: 200px;
}

.box1{
  background-color: #e6ffe9;
}

.box2{
  background-color: #cbffd3;
}

.box3{
  background-color: #aeffbd;
}

.box4{
  background-color: #93ffab;
}

.box5{
  background-color: #f3ffd8;
}

.box6{
  background-color: #edffbe;
}

.box7{
  background-color: #e9ffa5;
}

.box8{
  background-color: #e4ff8d;
}

.box9{
  background-color: #d9e5ff;
}

.box10{
  background-color: #bad3ff;
}

.box11{
  background-color: #a4c6ff;
}

.box12{
  background-color: #8eb8ff;
}